<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>

    <!-- Accesses the usersWithSecrets variable from app.js -->
    <!-- Loop through all the users with secrets, i.e. through that usersWithSecrets array;
    add a callback fucntion to pick up all the users inside the usersWithSecrets array
    for each of those users we are going to render the value of the user.secret field inside a paragraph -->
    <% usersWithSecrets.forEach(function(user){ %>
      <p class="secret-text"> <%=user.secret%> </p>
    <% }); %>


    <hr>

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
